.header {
    margin-top: 3.3rem;
    .header-image {
      width: 100%;
      min-height: 13rem;
      background-size: cover;

      .header-overlay {
        background: rgba(0,0,0,0.5);
        min-height: 13rem;
        .header-content {
          padding-top: 5rem;
          .title {
            font-size: 2.2rem;
            padding: 1rem;
            color: white;
          }
          .tags {
            .tag1 {
              color: white;
            }
            .tag2 {
              color: #5CDEDE;
              padding: 0.5rem;
            }
          }
        }
      }
    }
    .link-wrapper {
      border-bottom: 1.5px solid #ebebeb;
      padding-bottom: 1rem;
      .project-link {
        color: gray;
        font-size: 1rem;
        padding: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
      }
      .active {
        border-bottom: 5px solid gray;
      }
    }
    .header-underline {
      width: 150px;
      border: 3px solid gray;
      margin: 0 auto 20px auto;
    }
  }
