.navbar {
  border: 0;
  padding: 10px 10px;
  transition: all 1s ease-in-out;
  opacity: 0.9;
  border-bottom: 1px;
  border-bottom-color: gray;
  .navbar-brand {
    font-size: 30px;
    font-style: italic;
    color: white!important;
  }
  .navbar-toggler {
    color: white!important;
    font-size: 20px;
    border-color: white!important;
    background-color: transparent;

    &:hover {
      background-color: gray!important;
      color: white;
    }
  }

  .nav-link {
    color: white!important;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      color: gray!important;
    }
  }
  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    margin-left: 0.7rem;

    &:hover {
    }
  }
  .logout {
    cursor: pointer;
  }

  .username {
    font-weight: 800;
  }
}
