.recent-item {
  min-height: 22rem;
  .card-img-top {
    max-height: 10rem;
  }
  .card-title {
    font-size: 1.2rem;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .recent-item {
    max-height: 15;
  }
}
